* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

body {
  background-color: #f5f5f5;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

@media (min-width: 768px) {
  .layout {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}

.main {
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
  }
}

.main-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 40px;
  }
}

.service-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 8px;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.service__info {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.service__button {
  padding: 5px 15px;
  color: #ffffff;
  background-color: rgba(86, 4, 61, 0.693);
  border: 1px solid #05744d;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.service__button:hover {
  background-color: rgba(86, 4, 61, 0.887);
  transform: scale(0.98);
}
